.mainWrapper {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.parliament {
    width: 90vw;
}

.rowWrapper {
    display: flex;
    flex-direction: row;
}

.buttons {
    flex-wrap: wrap;
    font-size: 0.8rem;
}

@media (min-width: 720px) {
    .mainWrapper {
        flex-direction: row;
        min-height: calc(100vh - 202px);
    }
}

@media (min-width: 420px) {
    .parliament {
        width: 300px;
    }
}
