.mainWrapper {
    display: flex;
    flex-direction: column;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.parliament {
    width: 90vw;
}
.rowWrapper {
    display: flex;
    flex-direction: row;
}
.mainNav {
    padding: 0.5rem 1rem 0.8rem;
    max-width: 960px;
    margin: 0 auto;
}
.buttons {
    flex-wrap: wrap;
    font-size: 0.8rem;
}
.nav {
    color: white;
    text-decoration: none;
}
.item {
    align-self: end;
    margin: 0 1.75rem 0 0;
}
.nav:hover,
.nav:active {
    color: darkgrey;
}
.activeItem {
    color: grey;
}
.sub {
    margin-bottom: 0.2rem;
    text-align: center;
    display: none;
}
header {
    background: black;
    margin-bottom: 1.45rem;
}

@media (min-width: 720px) {
    .mainWrapper {
        flex-direction: row;
        min-height: calc(100vh - 202px);
    }
    .mainNav {
        padding: 1.5rem 1rem;
    }
    .sub {
        display: block;
    }
}

@media (min-width: 420px) {
    .parliament {
        width: 300px;
    }
}
